<service>
	<serviceName>servicios</serviceName>
	<serviceAliases>
		<alias>servicio</alias>
		<alias>serbicios</alias>
		<alias>cervicios</alias>
	</serviceAliases>
	<serviceDescription>Muestra la lista de servicios de Apretaste ordenados por categoria</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>otros</serviceCategory>
	<listed>0</listed>
</service>
