<% window['appImgPath'] = '{{APP_IMAGE_PATH}}'; %>

<div class="row center-align">
    <h5>Escoja un servicio para comenzar</h5>
    <div class="col s12 input-field">
        <select id="filter" onchange="filter(value)">
            <option value="todo">Todo</option>
            <% for (var category in services){ %>
                <% var name = category.charAt(0).toUpperCase() + category.slice(1) %>
                <option value="<%= category.toString() %>"><%= name + ' (' + services[category].length + ')' %></option>
            <% } %>
        </select>
    </div>

    <div id="services">
        <%- filteredServices() %>
    </div>
</div>
